{% extends 'blog/base.html' %}
{% load static %}
{% block title %} Index {% endblock %}
{% block style %}
    <style>
        .blog-content p {
            margin-bottom: 1rem;
        }

        a {
            color: black;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="title">
        <div class="title-text">
            <h1>{{post.title}}</h1>
            <p><i>Written on {{post.date_created}}</i></p>
        </div>
        <img src="{{ image_dict.1.url }}" alt="">
    </div>

    <div class="wrapper">
        <p>{{post.date_created}}</p>
        <div class="blog-content">
            {{post.text|safe|linebreaks}}    
        </div>
        <hr>
    </div>
{% endblock %}

